<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="Icon.PNG" type="image/x-icon">

    <link href="style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

    <!-- Login -->
    <div id="app" style="display: flex; flex-direction: column; width: 100%; height: 80vh; align-items: center; justify-content: center;">
        <div v-if="sessionStarted == false" style="display: flex; flex-direction: column; align-items: center; padding: 30px; width: 35%; height: auto; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); border-radius: 15px;">
            <h1>Login</h1>
            <form @submit.prevent="onSubmit" style="display: flex; flex-direction: column; width: 100%; align-items: center;">
                <div class="mb-3" style="width: 100%;">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" v-model="email" placeholder="Email">
                </div>
                <div class="mb-3" style="width: 100%;">
                    <label class="form-label">Contrasena</label>
                    <input type="password" class="form-control" v-model="password" placeholder="Contrasena">
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>

        <!-- Tabla usuarios -->
        <div v-else style="display: flex; flex-direction: column; align-items: center; margin-top: 5vh; padding: 30px; width: 50%; height: auto; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); border-radius: 15px;">
            <div style="display: flex; width: 100%; justify-content: left; margin-bottom: 10px;">
                <h4>Usuarios</h4>
                <div style="display: flex; width: 100%; justify-content: right;">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" style="width: 200px;">
                </div>
            </div>
            <table class="table">
                <thead>
                  <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Apodo</th>
                        <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.email" @click="selectUser(user.user_id)" style="cursor: pointer;">
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.nickname }}</td>
                    </tr>
                </tbody>
            </table>

            <div style="display: flex; width: 100%; justify-content: right;">
                <button type="button" class="btn btn-primary" @click="openModal('#newUsers')">
                    Agregar
                </button>    
            </div>
            
            <!-- Agregar nuevo usuario -->
            <div class="modal fade" id="newUsers" tabindex="-1" aria-labelledby="ModalScrollableTitle" aria-hidden="true"  data-bs-backdrop="static" >
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalScrollableTitle">Nuevo usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" @click="reset" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            
                            <div class="form-new-user">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" v-model="newUserName" placeholder="Nombre" @click="nameError=false">
                                <div v-if="nameError" class="text-danger">Por favor, introduce un nombre válido.</div>
                            </div>

                            <div class="form-new-user">
                                <label class="form-label">Correo</label>
                                <input type="email" class="form-control" v-model="newUserEmail" placeholder="Correo" @click="emailError=false, emailError2=false">
                                <div v-if="emailError" class="text-danger">Por favor, introduce un correo electrónico válido.</div>
                                <div v-if="emailError2" class="text-danger">Correo electronico ya registrado.</div>
                            </div>

                            <div class="form-new-user">
                                <label class="form-label">Apodo</label>
                                <input type="text" class="form-control" v-model="newUserNickname" placeholder="Apodo" @click="nicknameError=false">
                                <div v-if="nicknameError" class="text-danger">Por favor, introduce un apodo válido.</div>
                            </div>

                            <div class="form-new-user">
                                <label class="form-label">Contrasena</label>
                                <input type="password" class="form-control" v-model="newUserPassword" placeholder="Contrasena" @click="passwordError=false, passwordError2=false">
                                <div v-if="passwordError" class="text-danger">Por favor, introduce contrasenas iguales.</div>
                                <div v-if="passwordError2" class="text-danger">Por favor, introduce una contrasena.</div>
                            </div>

                            <div class="form-new-user">
                                <label class="form-label">Confirmar contrasena</label>
                                <input type="password" class="form-control" v-model="newUserPasswordConfirm" placeholder="Confirmar contrasena" @click="passwordError=false, passwordError2=false">
                                <div v-if="passwordError" class="text-danger">Por favor, introduce contrasenas iguales.</div>
                                <div v-if="passwordError2" class="text-danger">Por favor, introduce una contrasena.</div>
                            </div>
                           
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="reset">Cancelar</button>
                            <button type="button" class="btn btn-primary" @click="saveNewUser">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Editar -->
             <div class="modal fade" id="editUsers" tabindex="-1" aria-labelledby="ModalScrollableTitle" aria-hidden="true"  data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" style="display: flex; margin-right: 5px">{{ userName }}</h1>
                            <p class="text-body-secondary" style="margin-bottom: 0; margin-top: auto">Editar</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" @click="reset" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">

                            <div class="mb-3 row">
                                <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input  @click="nameError=false" v-model="userEditName" type="text" class="form-control" id="inputNombre" >
                                </div>
                                <div v-if="nameError" class="text-danger">Por favor, introduce un nombre válido.</div>
                            </div>

                            <div class="mb-3 row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input  @click="emailError=false, emailError2 = false" type="text" class="form-control" id="inputEmail" v-model="userEditEmail" >
                                </div>
                                <div v-if="emailError" class="text-danger">Por favor, introduce un correo </div>
                                <div v-if="emailError2" class="text-danger">Correo electronico ya registrado.</div>
                            </div>

                            <div class="mb-3 row">
                                <label for="inputNickname" class="col-sm-2 col-form-label">Nickname</label>
                                <div class="col-sm-10">
                                    <input @click="nicknameError=false" type="text" class="form-control" id="inputNickname" v-model="userEditNickname" >
                                </div>
                                <div v-if="nicknameError" class="text-danger">Por favor, introduce un apodo válido.</div>
                            </div>

                        </div>

                        <div class="modal-footer" style=" justify-content: start;">
                            <div style="width: auto; flex-direction: row;">
                                <button @click="userDelete" class="image-button" style="width: 32px; height: 32px"><img style="width: 20px;" src="./borrar.png" alt="borrar"></button>
                            </div>
                            <div style="display: flex; width: 87%; justify-content: end;">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="reset" style="margin: 4px;">Cancelar</button>
                                <button type="button" class="btn btn-primary" @click="saveEditUser" style="margin: 4px;">Guardar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <script src="mainF.js"></script>

</body>
</html>
