.image-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 12px; 
    padding: 0; 
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease; 
}

.image-button img {
    display: block;
    width: 32px; 
    height: auto;
}

.image-button:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
}